version: '3'
services:
    registry:
      restart: unless-stopped
      image: registry:2
      ports:
        - {{ port }}:{{ port }}
      env_file:
        - {{ registry_root }}/.env
      volumes:
        - {{ registry_root }}/auth:/auth
        - /etc/letsencrypt:/etc/letsencrypt
