REGISTRY_AUTH_HTPASSWD_REALM="Registry Realm"
REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd
REGISTRY_AUTH=htpasswd
REGISTRY_HTTP_ADDR=0.0.0.0:{{ port }}
REGISTRY_HTTP_TLS_CERTIFICATE="/etc/letsencrypt/live/{{ domain_name }}/fullchain.pem"
REGISTRY_HTTP_TLS_KEY="/etc/letsencrypt/live/{{ domain_name }}/privkey.pem"
