
    upstream {{ domain_name }} {
        server localhost:{{ port }};
    }

    server {
        listen 443 ssl;
        charset utf-8;
        client_max_body_size 0;

        server_name {{ domain_name }};

        ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;


        # backend urls
        location / {
            proxy_redirect off;
            proxy_pass https://{{ domain_name }};
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
        }

        # Certbot certificate renewal
        location /.well-known/acme-challenge/ {
            root /var/www/letsencrypt;
        }

        # Deny access to dot files and folders
        location ~ /\. {
            deny all;
        }
    }